:root {
  --primary-bg: #2C3930;
  --secondary-bg: #3F4F44;
  --accent: #A27B5C;
  --text-light: #DCD7C9;

  --font-main: 'Arial', sans-serif;
  --transition: all 0.3s ease;
  --radius: 24px;
  --container-width: 1200px;
}